.about-btn{
    background-color: purple;
    color: #fff;
    border-radius: 15px;
}
.about-btn:hover{
    background-color: plum;
    color: #000;
}
.landing-section{
    margin: 0 auto;
}
.contact-form{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen  and (max-width:768px){
    .about-btn{
        margin: auto;
        display: block;
    }
}
