
.codeGirl{
    width:500px;
    height: 500px;
}
.about-btn{
    background-color: purple;
    color: #fff;
    border-radius: 15px;
}
.page-title{
    font-size: 30px;
    font-weight: bold;
}
.about-us{
    font-weight: bold;
    color: #fff;
    background: purple;
    border-radius: 15px;
    font-family:"Inconsolata", sans-serif;
    margin: auto;
    width: 200px;
    text-align: center;

}
.service-image{
    width:200px;
    height: 200px;
}
.copyright{
    border-top: 1px solid #000;
}
.about-us-title{
    font-weight: bold;
}
.footer_1{
    font-weight: bold;
}

.footer_2{
    font-weight: bold;
}
@media screen  and (max-width:600px){
    .codeGirl{
        width:200px;
        height: 200px;
        margin: auto;
        display: block;
    }
    .about-btn{
        margin: auto;
        display: block;
        width: 35%;
    }
    .services{
        margin: auto;
        display: block;
    }
    .service-image{
        margin: auto;
        display: block;
    }
  

}
@media screen  and (max-width:300px){

    .service-image{
        margin: auto;
        display: block;
    }

    #ho_color{
        margin: auto;
        display: block;
    }
}