<div class="d-flex flex-row _content w-100"> 
    <div class="col-6 mt-5 p-5"><div class="page-title">SHE DEVS</div>
        <div class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt earum necessitatibus voluptas natus nostrum reprehenderit?
             Dolore vero eveniet cumque incidunt alias. Ad provident quam sed id sint illum, distinctio vel? Lorem ipsum dolor sit, 
             amet consectetur adipisicing elit. Doloribus nisi numquam perferendis nesciunt. Porro ratione aperiam molestiae odit eaque dignissimos doloremque possimus hic
              voluptate iusto? Ipsa cum illo eaque reiciendis.
            </div>
             <div class="btn about-btn mt-3" (click)="aboutUs()">About Us</div>
    </div>
    <div class="col-6 mt-4"><img class="d-flex codeGirl" src="/assets/codegirl1.jpg"></div>
</div>
<hr>
<div class="about">
    <div class="container">
       <div class="row d_flex mt-4">
          <div class="col-md-12 col-lg-5">
             <div class="about_img">
                <figure><img class="codeGirl" src="/assets/codegirl2.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-12 col-lg-7 mt-4">
             <div class="titlepage">
                <h2> <span class="yellow">ABOUT US</span><br>Welcome to She Devs</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                <a class="read_more" href="#">Read More</a>
             </div>
          </div>
       </div>
    </div>
 </div>
 <hr>
 <div class="services">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2> <span class="yellow">Services</span><br>consectetur adipiscing elit</h2>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
             <div id="ho_color" class="services_main">
                <i><img src="images/services_icon1.png" alt="#"/></i>
                <img class="ho" src="images/services_icon1h.png" alt="#"/>
                <h3>Safe & Secure</h3>
                <p>ncididunt ut labore et dolore 
                   magna aliqua. Ut enim
                </p>
                <a class="read_more" href="#">Read More</a>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
             <div id="ho_color" class="services_main">
                <i><img src="images/services_icon2.png" alt="#"/></i>
                <img class="ho" src="images/services_icon2h.png" alt="#"/>
                <h3>Mobile Apps</h3>
                <p>ncididunt ut labore et dolore 
                   magna aliqua. Ut enim
                </p>
                <a class="read_more" href="#">Read More</a>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
             <div id="ho_color" class="services_main">
                <i><img src="images/services_icon3.png" alt="#"/></i>
                <img class="ho" src="images/services_icon3h.png" alt="#"/>
                <h3>Wallet</h3>
                <p>ncididunt ut labore et dolore 
                   magna aliqua. Ut enim
                </p>
                <a class="read_more" href="#">Read More</a>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
             <div id="ho_color" class="services_main">
                <i><img src="images/services_icon4.png" alt="#"/></i>
                <img class="ho" src="images/services_icon4h.png" alt="#"/>
                <h3>Experts Support</h3>
                <p>ncididunt ut labore et dolore 
                   magna aliqua. Ut enim
                </p>
                <a class="read_more" href="#">Read More</a>
             </div>
          </div>
       </div>
    </div>
 </div>
