<div class="d-flex flex-row _content w-100"> 
    <div class="col-6 mt-5 p-5"><div class="page-title">SHE DEVS</div>
        <div class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt earum necessitatibus voluptas natus nostrum reprehenderit?
             Dolore vero eveniet cumque incidunt alias. Ad provident quam sed id sint illum, distinctio vel? Lorem ipsum dolor sit, 
             amet consectetur adipisicing elit. Doloribus nisi numquam perferendis nesciunt. Porro ratione aperiam molestiae odit eaque dignissimos doloremque possimus hic
              voluptate iusto? Ipsa cum illo eaque reiciendis.
            </div>
             <div class="btn about-btn mt-3" (click)="aboutUs()">About Us</div>
    </div>
    <div class="col-6 mt-4"><img class="d-flex codeGirl" src="/assets/codegirl1.jpg"></div>
</div>
<hr>
<div class="about">
    <div class="container">
       <div class="row d_flex">
          <div class="col-md-12 col-lg-5">
             <div class="about_img">
                <figure><img class="codeGirl" src="/assets/codegirl2.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-12 col-lg-7">
             <div class="titlepage">
                <h2> <span class="yellow">ABOUT US</span><br>Welcome TO OUR DEGITALEX</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                <a class="read_more" href="#">Read More</a>
             </div>
          </div>
       </div>
    </div>
 </div>
