
.codeGirl{
    width:500px;
    height: 500px;
}
.about-btn{
    background-color: purple;
    color: #fff;
    border-radius: 15px;
}
.page-title{
    font-size: 30px;
    font-weight: bold;
}
.about-us{
    font-weight: bold;
    color: #fff;
    background: purple;
    border-radius: 15px;
    font-family:"Inconsolata", sans-serif;
    margin: auto;
    width: 200px;
    text-align: center;

}
.service-image{
    width:200px;
    height: 200px;
}
.copyright{
    border-top: 1px solid #000;
}
.about-us-title{
    font-weight: bold;
}
.footer_1{
    font-weight: bold;
}

.footer_2{
    font-weight: bold;
}
.social_icon .bi{
    color: #000;
}

@media screen  and (max-width:768px){
    .codeGirl{
        width:300px;
        height:300px;
        margin: auto;
        display: block;
    }
    #ho_color h3{
        margin: auto;
        display: block;
    }
    .services-title{
        text-align: center;
         display: block;
     }
    .service-image{
        margin: auto;
        display: block;
    }
    .about-btn{
        margin: auto;
        display: block;
        width: 35%;
    }
}

@media screen  and (max-width:600px){
    .codeGirl{
        width:200px;
        height: 200px;
        margin: auto;
        display: block;
    }
    .about-btn{
        margin: auto;
        display: block;
        width: 35%;
    }
    .services{
        margin: auto;
        display: block;
    }
    .service-image{
        margin: auto;
        display: block;
    }
    .about-us-title{
        text-align: center;
        display: block;
    }
    .footer_1{
        text-align: center;
        display: block;
    }
    .social_icon{
        margin: auto;
        display: inline;
       
    }
    #ho_color h3{
        margin: auto;
        display: block;
    }
    .services-title{
        text-align: center;
         display: block;
     }

}
@media screen  and (max-width:300px){
    .social_icon{
        margin: auto;
        display: inline;
       
    }

    .footer_1{
        text-align: center;
        display: block;
    }

    .about-us-title{
        text-align: center;
        display: block;
    }

    .service-image{
        margin: auto;
        display: block;
    }

    #ho_color{
        margin: auto;
        display: block;
    }
    .services-title{
       text-align: center;
       display: block;
    }
}