<div class="main-content">
   <div class="container-fluid">
      <div class="row d-flex mt-4"> 
         <div class="col-lg-6 col-md-6 col-sm-12 mt-4 "><div class="page-title">SHE-DEVS</div>
             <div class="mt-2">Welcome to She Devs, a community dedicated to empowering women in tech.
                  Our mission is to provide resources, support, 
                  and networking opportunities to help women thrive in this exciting and rapidly-evolving industry.
               </div>

               <div class="btn about-btn mt-3">Learn More</div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <img class="codeGirl" src="/assets/codegirl1.jpg">
         </div>
     </div>
   </div>
   <hr>

<div class="about">
    <div class="container">
       <div class="row d-flex mt-4">
          <div class="col-lg-6 col-md-12 col-sm-12">
             <div class="about_img">
                <figure><img class="codeGirl" src="/assets/codegirl2.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 mt-4">
             <div class="titlepage m-5">
                <h2><span class="about-us-title">ABOUT US</span><br></h2>
                <div>She Devs is a community of female developers and tech enthusiasts who come have together with the aim of creating a safe space for women in Tech.
                    Our community started in January,2023 and since then it has kept growing while impacting many women in Tech. </div>
                <div class="btn about-btn mt-3" (click)="aboutUs()">Read More</div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <hr>
 <!-- services -->
 <div class="services">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12">
             <div class="titlepage">
               <h2><span class="about-us-title">OUR SERVICES</span><br></h2>
             </div>
          </div>
          <div class=" col-lg-3 col-md-3 col-sm-12 services_main">
             <div id="ho_color">
                <img class="service-image" src="\assets\code_1.jpg" alt="#"/>
                <h3>Hackathons</h3>
                <p>
                    We hold hackathons to build solutions for real-world applications.
                </p>
                <div class="read_more btn about-btn mt-3" >Read More</div>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 mt-1 ">
             <div id="ho_color">
                <img class="service-image" src="\assets\code_2.jpg" alt="#"/>
                <h3>Bootcamps</h3>
                <p>
                    Bootcamps provide intensive training in coding languages and other technical skills.
                </p>
                <div class="read_more btn about-btn mt-3" href="#">Read More</div>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 mt-1">
             <div id="ho_color">
                <img class="service-image" src="\assets\code_3.jpg" alt="#"/>
                <h3>Mentorship</h3>
                <p>
                    We offer a platform where our community members  get more insights in their careers.
                </p>
                <div class="read_more btn about-btn mt-3">Read More</div>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 mt-1">
             <div id="ho_color">
                <img class="service-image" src="\assets\code_5.jpg" alt="#"/>
                <h3>Workshops</h3>
                <p>
                    We celebrate our achievements showcase our great ideas  and projects.
                </p>
                <div class="read_more btn about-btn mt-3">Read More</div>
             </div>
          </div>
       </div>
    </div>
 </div>
  <!--  footer -->
  <hr>
  <div>
   <footer class="footer" id="contactUs">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
               <h3 class="footer_1">Social Media </h3>
               <div class="follow">
                  <p>Follow us on our social Media handles. </p>
                  <div class="social_icon d-flex">
                      <div class="px-2"><a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a></div>
                     <div class="px-2"><a href="https://twitter.com/"><i class="bi bi-twitter"></i></a></div>
                     <div class="px-2"><a href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a></div>
                     <div class="px-2" href=""><a><i class="bi bi-instagram"></i></a></div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
               <h3 class="footer_2">Contact us</h3>
               <div class="location_icon">
                 <div>Here's how you can reach us</div> 
                  <ul>
                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>shedevs@gmail.com</li>
                    <!-- <li><a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a>+254740096425</li> -->
                  </ul>
                
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1 d-flex justify-content-center mt-5">
                  <p class="copyright">Copyright 2023 All Right Reserved</p>
               </div>
            </div>
         </div>
      </div>
   
</footer>
  </div>
 
 <!-- end footer -->
</div>
<!-- End of Intro -->

