<section id="service">
  <div class="container">
   <div class="row">
    <div class="col-md-12">
     <div class="section_title text-center">
       <h2>Our Services</h2>
        <div class="brand_border">
         <i class="fa fa-minus" aria-hidden="true"></i> 
         <i class="fas fa-handshake"></i>
         <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
       <p>Welcome on board <br>We would love to have you as  part of the SheDevs Connunity.</p>
     </div>
    </div>
  </div>
 <div class="row">
  <!--START SINGLE SERVICE AREA-->
   <div class="col-md-6 col-lg-4 col-sm-12">
    <div class="single_service hvr-curl-top-right">
     <div class="single_service-left">
      <div class="icon">
        <i class="fa fa-laptop"></i>
      </div>
     </div>
     <div class="single_service-body">
      <h4 class="single_service-heading">web Design</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing                                      elit. Aenean commodo ligula.</p>
     </div>
    </div>
   </div><!--/END SINGLE SERVICE AREA-->
   <!--START SINGLE SERVICE AREA-->
   <div class="col-md-6 col-lg-4 col-sm-12">
    <div class="single_service hvr-curl-top-right">
     <div class="single_service-left">
      <div class="icon">
        <i class="fas fa-quidditch"></i>
      </div>
     </div>
     <div class="single_service-body">
       <h4 class="single_service-heading">Logo Design</h4>
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing                                     elit. Aenean commodo ligula.</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
  <!--START SINGLE SERVICE AREA-->
  <div class="col-md-6 col-lg-4 col-sm-12">
   <div class="single_service hvr-curl-top-right">
    <div class="single_service-left">
     <div class="icon">
       <i class="fas fa-newspaper"></i>
     </div>
    </div>
    <div class="single_service-body">
      <h4 class="single_service-heading">Ui & Ux Design</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing                               elit. Aenean commodo ligula.</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
  <!--START SINGLE SERVICE AREA-->
  <div class="col-md-6 col-lg-4 col-sm-12">
   <div class="single_service hvr-curl-top-right">
    <div class="single_service-left">
     <div class="icon">
       <i class="fas fa-smile"></i>
     </div>
    </div>
    <div class="single_service-body">
      <h4 class="single_service-heading">Branding</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing                                   elit. Aenean commodo ligula.</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
  <!--START SINGLE SERVICE AREA-->
  <div class="col-md-6 col-lg-4 col-sm-12">
   <div class="single_service hvr-curl-top-right">
    <div class="single_service-left">
     <div class="icon">
       <i class="fa fa-crop"></i>
     </div>
    </div>
    <div class="single_service-body">
       <h4 class="single_service-heading">Devlopment</h4>
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing                            elit. Aenean commodo ligula.</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
  <!--START SINGLE SERVICE AREA-->
  <div class="col-md-6 col-lg-4 col-sm-12">
   <div class="single_service hvr-curl-top-right">
    <div class="single_service-left">
      <div class="icon">
        <i class="fa fa-cogs"></i>
      </div>
    </div>
   <div class="single_service-body">
      <h4 class="single_service-heading">Security System</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing                                       elit. Aenean commodo ligula.</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
 </div>
</div>
</section><!--/END SERVICE AREA--> 