<!-- this code for for promotion don't copy this start -->
<a target="_blank" href="http://freetoolssite.com" style="display: block;text-align: center;font-size: 20px;margin: 50px auto;color: #fff;text-transform: uppercase;padding: 15px 25px;text-decoration:none;width:fit-content;background-color: orange; border-radius: 4px;box-shadow: 0 2px 25px orange;">Visit Our Free Tools Site</a>
<!-- this code for for promotion don't copy this end -->





<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" />


<section class="our_service_section">
  <h3 class="section_title">Our Services</h3>
  <p class="section_details">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </p>

  <div class="single_service_container">

    <!-- single service start -->
    <div class="single_service">
      <div class="top">
        <span class="icon">
          <i class="fa fa-money"></i>
        </span>
        <div class="text">
          <h4 class="__one">Feature One</h4>
          <h3 class="__two">Investment Planning</h3>
        </div>
      </div>

      <div class="bottom">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen
          book.
        </p>
      </div>
    </div>
    <!-- single service end -->

    <!-- single service start -->
    <div class="single_service">
      <div class="top">
        <span class="icon">
          <i class="fa fa-money"></i>
        </span>
        <div class="text">
          <h4 class="__one">Feature Two</h4>
          <h3 class="__two">Financial Advise</h3>
        </div>
      </div>

      <div class="bottom">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen
          book.
        </p>
      </div>
    </div>
    <!-- single service end -->

    <!-- single service start -->
    <div class="single_service">
      <div class="top">
        <span class="icon">
          <i class="fa fa-money"></i>
        </span>
        <div class="text">
          <h4 class="__one">Feature Three</h4>
          <h3 class="__two">Market Analyzing</h3>
        </div>
      </div>

      <div class="bottom">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen
          book.
        </p>
      </div>
    </div>
    <!-- single service end -->

  </div>

</section>
    
