<section id="service">
  <div class="container">
   <div class="row">
    <div class="col-md-12">
     <div class="section_title text-center">
       <h2>Our Services</h2>
        <div class="brand_border">
         <i class="fa fa-minus" aria-hidden="true"></i> 
         <i class="fas fa-handshake"></i>
         <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
       <p>Welcome on board <br>We would love to have you as  part of the SheDevs Community.</p>
     </div>
    </div>
  </div>
 <div class="row">
  <!--START SINGLE SERVICE AREA-->
   <div class="col-md-6 col-lg-4 col-sm-12">
    <div class="single_service hvr-curl-top-right">
     <div class="single_service-left">
      <div class="icon">
        <i class="fa fa-laptop"></i>
      </div>
     </div>
     <div class="single_service-body">
      <h4 class="single_service-heading">web Design</h4>
      <p>
        We will be holding a couple of web design sessions that will cover the basics of website creation and design. 
        Whether you're a beginner or have some experience, these sessions are a great way to learn new skills and enhance your knowledge in this exciting field.

        During these sessions, we will cover various topics such as user experience design, responsive design, website layout, and more.
         The sessions will be interactive and hands-on, providing you with the opportunity to ask questions and practice what you learn.
      </p>
     </div>
    </div>
   </div><!--/END SINGLE SERVICE AREA-->
   <!--START SINGLE SERVICE AREA-->
   <div class="col-md-6 col-lg-4 col-sm-12">
    <div class="single_service hvr-curl-top-right">
     <div class="single_service-left">
      <div class="icon">
        <i class="fas fa-quidditch"></i>
      </div>
     </div>
     <div class="single_service-body">
       <h4 class="single_service-heading">Graphics Design</h4>
       <p>
        We would like to invite you to join me for a series of graphics design sessions that will cover the fundamentals of creating visually compelling designs. 
        Whether you're new to design or have some experience, these sessions are a great way to expand your skillset and explore new techniques.

        Throughout the sessions, we will cover various topics such as typography, color theory, composition, and more.
         You will have the opportunity to practice your skills and receive feedback from peers, as well as ask questions and get personalized assistance.
       </p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
  <!--START SINGLE SERVICE AREA-->
  <div class="col-md-6 col-lg-4 col-sm-12">
   <div class="single_service hvr-curl-top-right">
    <div class="single_service-left">
     <div class="icon">
       <i class="fas fa-newspaper"></i>
     </div>
    </div>
    <div class="single_service-body">
      <h4 class="single_service-heading">Ui & Ux Design</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing                               elit. Aenean commodo ligula.</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
  <!--START SINGLE SERVICE AREA-->
  <div class="col-md-6 col-lg-4 col-sm-12">
   <div class="single_service hvr-curl-top-right">
    <div class="single_service-left">
     <div class="icon">
       <i class="fas fa-smile"></i>
     </div>
    </div>
    <div class="single_service-body">
      <h4 class="single_service-heading">Branding</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing                                   elit. Aenean commodo ligula.</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
  <!--START SINGLE SERVICE AREA-->
  <div class="col-md-6 col-lg-4 col-sm-12">
   <div class="single_service hvr-curl-top-right">
    <div class="single_service-left">
     <div class="icon">
       <i class="fa fa-crop"></i>
     </div>
    </div>
    <div class="single_service-body">
       <h4 class="single_service-heading">Devlopment</h4>
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing                            elit. Aenean commodo ligula.</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
  <!--START SINGLE SERVICE AREA-->
  <div class="col-md-6 col-lg-4 col-sm-12">
   <div class="single_service hvr-curl-top-right">
    <div class="single_service-left">
      <div class="icon">
        <i class="fa fa-cogs"></i>
      </div>
    </div>
   <div class="single_service-body">
      <h4 class="single_service-heading">Security System</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing                                       elit. Aenean commodo ligula.</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
 </div>
</div>
</section><!--/END SERVICE AREA--> 