
    <!-- fullslider -->
    <div
      class="container-flude fullcardslider d-flex justify-content-center mt-5"
    >
      <div
        id="carouselExampleInterval"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="card" style="max-width: 1264px">
              <div class="row g-0">
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title fw-bold display-4">
                      Meet the boAtheads
                    </h5>
                    <hr
                      class="fw-bold"
                      style="width: 150px; height: 3px; color: red"
                    />
                    <div class="boathead-name h4">
                      <span class="text-uppercase">Kiara</span>
                      <span class="text-uppercase">
                        &nbsp;
                        <span><strong>Advani</strong></span>
                      </span>
                    </div>
                    <div class="boathead-name h3 fw-bold" style="color: white">
                      <p class="card-text">Groovy.Gorgeous.Glamorous.</p>
                    </div>
                    <p class="card-text" style="color: silver; font-size: 16px">
                      Ever since making her first appearance as a boAthead for the
                      #GlamourOfTheStars campaign since June 2019, Kiara's journey
                      with boAthead has been impecable, inspirational and
                      influentional.
                    </p>
                  </div>
                </div>
                <div class="col-md-5">
                  <img
                    src="https://utioutll.sirv.com/Immortal%20Gaming/6_6.jpg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="card" style="max-width: 1264px">
              <div class="row g-0">
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title fw-bold display-4">
                      Meet the boAtheads
                    </h5>
                    <hr
                      class="fw-bold"
                      style="width: 150px; height: 3px; color: red"
                    />
                    <div class="boathead-name h4">
                      <span class="text-uppercase">Shreyas</span>
                      <span class="text-uppercase">
                        &nbsp;
                        <span><strong>Iyer</strong></span>
                      </span>
                    </div>
                    <div class="boathead-name h3 fw-bold" style="color: white">
                      <p class="card-text">Determined.Dauntless.Defiant</p>
                    </div>
                    <p class="card-text" style="color: silver; font-size: 16px">
                      It’s a treat to watch boAthead Shreyas Iyer’s determined
                      stance on the field and the way he produces a sweet sound
                      with his bat, just like #SoundOfTheChampions
                    </p>
                  </div>
                </div>
                <div class="col-md-5">
                  <img
                    src="https://utioutll.sirv.com/Immortal%20Gaming/6_5.jpg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card" style="max-width: 1264px">
              <div class="row g-0">
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title fw-bold display-4">
                      Meet the boAtheads
                    </h5>
                    <hr
                      class="fw-bold"
                      style="width: 150px; height: 3px; color: red"
                    />
                    <div class="boathead-name h4">
                      <span class="text-uppercase">KL</span>
                      <span class="text-uppercase">
                        &nbsp;
                        <span><strong>Rahul</strong></span>
                      </span>
                    </div>
                    <div class="boathead-name h3 fw-bold" style="color: white">
                      <p class="card-text">Classy.Charismatic.Charm.</p>
                    </div>
                    <p class="card-text" style="color: silver; font-size: 16px">
                      Expect a powerful and smooth flowing drive through the
                      covers when the classy boAthead KL Rahul decides to up the
                      ante and take #SoundOfTheChampions to another new level
                    </p>
                  </div>
                </div>
                <div class="col-md-5">
                  <img
                    src="https://utioutll.sirv.com/Immortal%20Gaming/6_4.jpg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <div class="card" style="max-width: 1264px">
              <div class="row g-0">
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title fw-bold display-4">
                      Meet the boAtheads
                    </h5>
                    <hr
                      class="fw-bold"
                      style="width: 150px; height: 3px; color: red"
                    />
                    <div class="boathead-name h4">
                      <span class="text-uppercase">Neha</span>
                      <span class="text-uppercase">
                        &nbsp;
                        <span><strong>Kakkar</strong></span>
                      </span>
                    </div>
                    <div class="boathead-name h3 fw-bold" style="color: white">
                      <p class="card-text">Stylish.Superb.Showstopper.</p>
                    </div>
                    <p class="card-text" style="color: silver; font-size: 16px">
                      boAthead Neha Kakkar’s stylish presence makes the deck stay
                      lit as her captivating voice adds that superb boAthead
                      spirit to #SoulOfTheMusicians and makes everything go
                      groovin’
                    </p>
                  </div>
                </div>
                <div class="col-md-5">
                  <img
                    src="https://utioutll.sirv.com/Immortal%20Gaming/6_1.jpg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="card" style="max-width: 1264px">
              <div class="row g-0">
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title fw-bold display-4">
                      Meet the boAtheads
                    </h5>
                    <hr
                      class="fw-bold"
                      style="width: 150px; height: 3px; color: red"
                    />
                    <div class="boathead-name h4">
                      <span class="text-uppercase">Kartik</span>
                      <span class="text-uppercase">
                        &nbsp;
                        <span><strong>Aaryan</strong></span>
                      </span>
                    </div>
                    <div class="boathead-name h3 fw-bold" style="color: white">
                      <p class="card-text">Cool.Calm.Collected.</p>
                    </div>
                    <p class="card-text" style="color: silver; font-size: 16px">
                      Keeping the flag of #GlamourOfTheStars high and in full flow
                      Kartik Aaryan has added an immense deal of coolness here
                      during his journey as a boAthead
                    </p>
                  </div>
                </div>
                <div class="col-md-5">
                  <img
                    src="https://utioutll.sirv.com/Immortal%20Gaming/6_2.jpg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card" style="max-width: 1264px">
              <div class="row g-0">
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title fw-bold display-4">
                      Meet the boAtheads
                    </h5>
                    <hr
                      class="fw-bold"
                      style="width: 150px; height: 3px; color: red"
                    />
                    <div class="boathead-name h4">
                      <span class="text-uppercase">Shikhar</span>
                      <span class="text-uppercase">
                        &nbsp;
                        <span><strong>Dhawan</strong></span>
                      </span>
                    </div>
                    <div class="boathead-name h3 fw-bold" style="color: white">
                      <p class="card-text">Daring.Daredevil.Dapper.</p>
                    </div>
                    <p class="card-text" style="color: silver; font-size: 16px">
                      When the Gabbar of International Cricket carries the baton
                      of #SoundOfTheChampions, expect great things in the
                      offering. Our hard hitting boAthead Shikhar Dhawan creates
                      memorable times with his presence.
                    </p>
                  </div>
                </div>
                <div class="col-md-5">
                  <img
                    src="https://utioutll.sirv.com/Immortal%20Gaming/6_3.jpg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <br> -->
  
 
  
  
  
