<h2 class="text-center py-2">OUR PROGRAMS</h2>
<!-- first grid -->
<div class="container mt-4">
  <div class="row" id="about">

    <div class="col-lg-6 col-md-12 col-sm-12">
     <img src="\assets\new-hackathon.jpg" class="program-image" alt="Hackathons" width="400" height="450">
    </div>
  
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h1 class="w3-center">Hackathons</h1><br>
      <p >Hackathons are events meant to work on specific problems and are aimed to build viable solutions.</p>
      <p class="w3-large">Hackathons allow programmers learn new skills quickly from other professionals.
        During the hackathons programmers experience new coding languages,techniques,industry tools and leadership skills they have not experienced yet.
      </p>
      <p class="w3-large">Hackathons are important since they increase one's motivation and most importantly networking with different people.</p>
    </div>
  </div>
</div>
<hr>
<!-- second grid -->
<div class="container">
  <div class="row" id="about">

    <div class="col-lg-6 col-md-12 col-sm-12">
      <h1 class="w3-center">Mentorship</h1><br>
      <p>We don't just focus on technical improving technical skiils.</p>
      <p class="w3-large"> As a community we aim to offer mentorship especially to upcoming female techies who join our community. The mentorship involves both hard and soft skills training programs as we aim to leverage on all-rounded female developers.</p>
      <p class="w3-large">The mentees are guided and impacted with the right insights to help them become better developers.</p>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="\assets\new-mentorship.jpg" class="program-image" alt="Mentorships" width="400" height="450">
     </div>
  </div>
</div>
<hr>
<!-- third grid -->
<div class="container">
  <div class="row" id="about">
    <div class="col-lg-6 col-md-12 col-sm-12">
     <img src="\assets\new-workshop.jpg" class="program-image" alt="workshops" width="400" height="450">
    </div>
  
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h1 class="w3-center">WorkShops</h1><br>
      <p>We shall have hands-on sessions where developers showcase their projects.</p>
      <p class="w3-large">The imporatnce of these workshops are that they help in skill development.They also help in identifying the latest trends in technology with various techies showcasing their projects and ideas.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Many networking opportunities also present themselves duing these events and since these workshops help participants develop critical thinking and problem solving skills.</p>
    </div>
  </div>
</div>
<hr>
<!-- fourth grid -->
<div class="container">
  <div class="row" id="about">

    <div class="col-lg-6 col-md-12 col-sm-12">
      <h1 class="w3-center">Bootcamps</h1><br>
      <p>Bootcamps are short-term,intensive programs that aim to teach practical and job-ready tech skills. </p>
        <p>Bootcamps play a vital role in supporting women in tech since they provide women with the skills and knowledge they need to succeed in the industry.</p>
        <p> These bootcamps offer mentorship opportunities,networking events and career guidance to help women navigate the tech industry and overcome barriers they may face</p>
        <p>The bootcamps will involve various technologies,incoporating a variety of tech fields such web development.</p>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="\assets\bootcamps (3).jpg" class="program-image" alt="Bootcamps" width="400" height="450">
     </div>
  </div>

</div>
