body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h6 {
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: bold;
}
.program-image{
  border-radius: 35px;
}
.w3-center{
  position: relative;
  display: block;
  font-size:40px;
  line-height: 1.28em;
  color: #222222;
  font-weight: 600;
  padding-bottom:10px;
  padding-top: 25px;
  }
  
  .w3-center:before{
  position:absolute;
  content:'';
  left:0px;
  bottom:0px;
  width:100px;
  height:3px;
  background-color:purple;
  }