body{
  background-color: #00000;
}
/*not tslider */
.fullcardslider .row.g-0 {
background-color: #363636;
color: red;
}

.fullcardslider .row.g-0 {
max-width: 2000px;
margin: auto;
display: flex !important;
align-items: center;
}

.fullcardslider .card {
border-color: #363636;
border: 0px;
}