.navbar{
    background-color: purple;
    color: #fff;
}
.nav-link{
    color: #fff !important;
}
nav ul li a:hover{
    background-color:plum;
    color: black !important;
} 
.navbar-brand{
    width: 48px;
    height: 48px;
    border-radius:50%;
    padding:4px;
}
.navbar-toggler{
    background-color:#fff;
    margin-right: 10px;
}

.navbar-toggler-icon {
    background-image: url('/assets/menu.icon.svg');
}


@media screen  and (max-width:300px){
    .navbar-collapse {
        justify-content: center;
      }
      .navbar-nav {
        width: 100%;
        text-align: center;
      }
      .nav-item {
        display: inline-block;
      }
}
@media screen  and (max-width:600px){
    .navbar-collapse {
        justify-content: center;
      }
      .navbar-nav {
        width: 100%;
        text-align: center;
      }
      .nav-item {
        display: inline-block;
      }
}
@media screen  and (max-width:768px){
    .navbar-collapse {
        justify-content: center;
      }
      .navbar-nav {
        width: 100%;
        text-align: center;
      }
      .nav-item {
        display: inline-block;
      }
}