
    <footer class="footer section-dark" id="contactUs">
       <div class="container">
          <div class="row">
             <div class="col-lg-8 col-md-12 col-sm-12">
                <h3 class="footer_1">Social Media </h3>
                <div class="follow">
                   <h6>Follow us on our social Media handles. </h6>
                   <div class="social_icon d-flex">
                       <div class="px-2"><a href="https://www.facebook.com/profile.php?id=100090691837071&mibextid=ZbWKwL "><i class="bi bi-facebook"></i></a></div>
                      <div class="px-2"><a href="https://twitter.com/ShedevsKenya"><i class="bi bi-twitter"></i></a></div>
                      <div class="px-2"><a href="https://www.linkedin.com/company/shedevs-kenya/"><i class="bi bi-linkedin"></i></a></div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4 col-md-12 col-sm-12">
                <h3 class="footer_2">Contact us</h3>
                <div class="location_icon">
                  <div>Here's how you can reach us</div> 
                   <p>
                     shedevskenya@gmail.com
                   </p>
                 
                </div>
             </div>
          </div>
       </div>
       <div>
          <div class="container">
             <div class="row">
                <div class="col-md-10 offset-md-1 d-flex justify-content-center mt-5">
                   <p class="copyright">Copyright 2023 All Right Reserved</p>
                </div>
             </div>
          </div>
       </div>
    
    </footer>

